@import '../../shared/styles/shared-styles.scss';

.section-name {
  margin-top: 10px;
  padding: 0 20px;
}

.label {
  background-color: $dark-gray;
  padding: 5px 10px;
  border-radius: 3px;
  color: $light-gray;
  font-size: 11px;
  width: 50px;
  text-align: center;
}

.field-container {
  @include flex();
  padding: 15px 20px;
  font-size: 12px;
}

.field {
  span {
    margin-right: 5px;
    color: $light-gray;
  }

  .text {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $light-gray;
    width: 60px;
  }
}